.photo-grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* Set row size */
    grid-auto-rows: 240px;
}

/* add media query so if the spanning 2 grid lines don not work well ie. some images do not render properly */
@media screen and (min-width: 600px) {
    .card-tall {
        /* span across 2 rows / ending (start/end) */
        grid-row: span 2 / auto;
    }

    .card-wide {
        /* span across 2 columns / ending (start/end) */
        grid-column: span 2 / auto;
    }
}